
body{
  overflow-x: hidden;
}
:root{
  max-width: 1280px; /* Ancho máximo */
  margin: 0 auto;    /* Centra el contenido horizontalmente */
  padding: 0 1px;   /* Espaciado lateral para evitar que el contenido toque los bordes */
  width: 100%;       /* Asegura que ocupe el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  overflow-x: hidden; 
    --bg:#d90845;
}
.header{
    margin-inline: 2rem;
    background: transparent !important;
}
.heading{
color: var(--bg);
}
.bg-color{
    background: var(--bg);
}
.button{
    color: #ffffff;
    background: var(--bg);
    padding: .5rem 2rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
button:hover{
  color: #000;
  background: transparent;
  border: 1px solid var(--bg);
}
.menu-btn:hover{
background: transparent;
color: #ffffff;
border: 1px solid #ffffff;
}
.date-btn{
  color: #887878c2;
  background: #79db9f85;
  padding: .5rem 2rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 5px;
}
.date-btn:hover{
background: transparent;
color: #080606d7;
border: 1px solid #17dd8a8e;
margin: 5px;
}
.toggle {
  border-radius: 5px;
  border: 2px solid #c22525;
  font-weight: bold;
  margin: 5px;
}
.toggle:hover {
  border-radius: 5px;
  border: 3px solid #c22525;
  font-weight: bold;
  margin: 5px;

}
.responsive-navbar-nav{
  color: #ffffff !important;
  border: 1px solid #ffffff;
}
.links:hover{
color: #d90845  !important;
}

.home-main-section{
height: 100vh;
min-width: 100%;
background: #000;
background-image: url(../assets/landscapes/madrid.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.Hero-section{
    height: 100vh ;
       min-width: 100%;
    
} 
.xops-section {
    padding: 50px 0;
    background-color: #f8f9fa; 
  }
  
  .xops-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .xops-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .xops-section ul li {
    margin: 10px 0;
  }
  
  .xops-section img {
    max-width: 100%; 
    height: auto;
  }
  .img-fluid{
    margin-top: 3rem;
    border-radius: 10px;
  }
  .text-justify {
    text-align: justify; 
}
.xops-section p {
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 0; 
}
.key-themes-section , .speakers-section{
    margin-top: 5rem;
}
.key-themes-section {
    padding: 2rem 0; 
  }
  
  .card {
    transition: transform 0.2s; 
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  
.card-img-top{
    height: 200px;
    width: auto;
    object-fit: cover;
}
a{
    list-style-type: none !important;
}
.speaker-img img{
width: 400px;
border-radius: 10px;
}
.margin-top{
  margin-top: 5rem;
}
.speaker1{
  gap: 4rem;
}

.schedule-section {
  padding: 50px 0;
  border: 1px solid red;
  margin-top: 4rem;
}

.schedule-section h2 {
  margin-bottom: 30px;
}

.schedule-section .col-lg-6 {
  border: 1px solid #e0e0e0;
  padding: 2px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.schedule-section .col-lg-6 h3 {
  color: #333;
  margin-bottom: 10px;
}

.event-cards{
  display: flex;
  justify-content:space-around !important;
}
.event-card{
border: red;
}

.event-schedule-section .cardBernabeu{
background-image: url(../assets/landscapes/bernabeu.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
}

.event-schedule-section .cardBernabeuD{
  background-image: url(../assets/landscapes/bernabeuD.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  }

  .event-schedule-section .cardcuatroT{
    background-image: url(../assets/landscapes/cuatroT.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    }

    .event-schedule-section .cardcuatroTD{
      background-image: url(../assets/landscapes/cuatroTD.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      }

      .event-schedule-section .cardgranV{
        background-image: url(../assets/landscapes/granV.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }
        
.event-schedule-section .cardmanzanares{
        background-image: url(../assets/landscapes/manzanares.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.event-schedule-section .cardmanzanaresD{
        background-image: url(../assets/landscapes/manzanaresD.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.event-schedule-section .cardmetropolitano{
        background-image: url(../assets/landscapes/metropolitano.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.event-schedule-section .cardmetropolitanoD{
        background-image: url(../assets/landscapes/metropolitanoD.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.event-schedule-section .cardministerios{
        background-image: url(../assets/landscapes/ministerios.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.event-schedule-section .cardministeriosD{
        background-image: url(../assets/landscapes/ministeriosD.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.event-schedule-section .cardplazaM{
        background-image: url(../assets/landscapes/plazaM.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.event-schedule-section .cardpuertaA{
        background-image: url(../assets/landscapes/puertaA.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        }

.overlay{
height: 100%;
width: 100%;
position: absolute;
background: rgba(22, 1, 1, 0.5);
}

.card-body{
  position: relative;
  z-index: 999;
}


/*============================
 Gallery section 
 =============================*/
.gallery {
  text-align: center;
}

.gallery h2 {
  margin-bottom: 30px;
  color: #d90845; 
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.gallery-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; /* Optional hover effect */
}

.image-container:hover img {
  transform: scale(1.05); /* Optional hover effect */
}

.overout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(217, 8, 69, 0.7); /* Semi-transparent background */
  color: white;
  padding: 10px;
  text-align: center;
}

.overout h3 {
  margin: 0;
  font-size: 1.2rem;
}

.overout p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}
.gallery{
  background-image: url(../assets/bg-main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
}
.galleries{
  position: relative;
  z-index: 999;
  color: #fff;
}
.gallery h2{
  margin-top: 2rem;
}
/* Gallery ends */

.footer{
  padding: 3rem 0;
  margin-top: 4rem;
}

.banner{
  width: 100%;
}
.banner-section{
  margin-block: 6rem;
}
.banner-img{
  width: 350px;
height: 200px;
}

.benefits-icon{
  font-size: 2rem;
  color: var(--bg);
}
.benefits-list li{
margin-block: 1rem;
}



@media (max-width:789px){
.speaker1{
  flex-direction: column;
  justify-content: center !important;
}
.speaker1 img{
  display: flex;
  justify-content: center;
  margin-inline: auto;
}
.speaker-img img {
  width: auto;
}
}