#root {
  max-width: 1280px; /* Ancho máximo */
  margin: 0 auto;    /* Centra el contenido horizontalmente */
  padding: 0 15px;   /* Espaciado lateral para evitar que el contenido toque los bordes */
  text-align: center; /* Centra el texto */
  width: 100%;       /* Asegura que ocupe el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  overflow-x: hidden; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
